.index-container {
    position: absolute;
    width: 1024px;
    height: 768px;
    background: url("../img/newSongUpdateBg.jpg") no-repeat;
    top: 50%;
    left: 50%;
    margin: -384px 0 0 -512px;
}

.index-header {
    padding-top: 40px;
    font-size: 32px;
    text-align: center;
    line-height: 1;
    /*background: yellow;*/
    -webkit-background-clip: text;
    color: yellow;
}

.index-main {
    margin-top: 10px;
}

.index-main-nav {
    text-align: center;
}

.index-main-nav a{
    display: inline-block;
    font-family: "微软雅黑";
    width: 110px;
    height: 38px;
    margin-left: 15px;
    font-size: 20px;
    letter-spacing: -0.8px;
    line-height: 38px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background: #861aff;
    white-space: nowrap;
    padding:0 5px;
}

.index-main-nav a:first-child {
    margin-left: 0;
}

.index-main-nav a.active {
    color: #451260;
    background:  #fffc00;
}

.index-main-statistics {
    position: relative;
    margin: 16px auto 0;
    width: 770px;
    height: 130px;
    border: 2px solid #16d8ee;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    box-sizing: border-box;
}

.index-main-statistics header {
    position: relative;
    font-size: 26px;
    height: 26px;
    margin-top: 7px;
    line-height: 1;
    text-indent: 20px;
    /*background: linear-gradient(to top, #f6ff00, #f6ff00, #ffffff, #ffffff);*/
    /*-webkit-background-clip: text;*/
    /*color: transparent;*/
    /*z-index: 2;*/
}

/*.index-main-statistics header:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "新歌统计";
    font-size: 26px;
    text-indent: 5px;
    color: #fff;
    text-shadow:0 0 2px #090739;
    z-index: 1;
}*/
.index-main-statistics table {
    width: 100%;
    margin-top: 5px;
    /*border-top: 1px solid #ccc;*/
    /*border-left: 1px solid #ccc;*/

}

.index-main-statistics table td {
    /*border-bottom: 1px solid #ccc;*/
    /*border-right: 1px solid #ccc;*/
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
}

.index-main-statistics table td:nth-child(2n) {
    text-align: left;
}

.statistics-content-box {
    display: inline-block;
    text-align: right;
    padding-right: 36px;
    margin-top: 8px;
    font-size: 22px;
    width: 224px;
    height: 34px;
    line-height: 34px;
    border-radius: 16px;
    margin-right: 23px;
    color: #fff;
    background-color: #451260;
}

.index-main-statistics table td:nth-child(2n) .statistics-content-box {
    margin-left: 23px;
}

.color-f6ff00 {
    color: #f6ff00 !important;
}

.statistics-content-box .little-font {
    font-size: 20px;
}

.index-main-hot-recommend {
    position: relative;
    width: 770px;
    height: 478px;
    margin: 11px auto 0;
    border: 2px solid #16d8ee;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    box-sizing: border-box;
}

.index-main-hot-recommend header {
    position: relative;
    font-size: 26px;
    height: 26px;
    margin-top: 7px;
    line-height: 1;
    text-indent: 20px;
}

.index-main-hot-recommend ul {
}

.index-main-hot-recommend ul li {
    margin-top: 8px;
    height:34px;
    vertical-align: middle;
}

.index-main-hot-recommend ul li dl {
    width: 574px;
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    overflow: hidden;
    background-image: url(../img/hotSongListBg.png);
}

.index-main-hot-recommend ul li dl dd {
    float: left;
    margin-left: 10px;
    font-size: 19px;
    color: #000000;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    display: block;
}

.index-main-hot-recommend ul li dl dd:first-child {
    margin-left: 12px;
    width: 60px;
    color: #ff0012;
}

.index-main-hot-recommend ul li dl dd:first-child+dd {
    width: 110px;
}

.index-main-hot-recommend ul li dl dd:first-child+dd+dd {
    width: 160px;
}

.index-main-hot-recommend ul li dl dd:first-child+dd+dd+dd {
    width: 78px;
}

.index-main-hot-recommend ul li dl dd:first-child+dd+dd+dd+dd {
    width: 110px;
}

.index-main-hot-recommend table {
    width: 100%;
    margin-top: 5px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;

}

.index-main-hot-recommend table th,
.index-main-hot-recommend table td {
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 5px 10px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.index-footer {
}